html {
  background-color: white;
  color: navy;
}

a:link{
  color: purple;
}

a:visited{
  color: red;
}

header{
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  white-space: wrap;
  line-height: 0;
}

h4::first-letter{
  font-size: 200%;
}

ul {
  line-height: 2.5em;
}

#column_1{

}

#column_2 {
  float:right;
  position: absolute;
  right: 15em;
  bottom: 10em;
}

aside {
  text-align: center;
  font-size: .65em;
}

#h_line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0em;
  padding: 0;
}

footer {
  font-size: .75em;
}

#copyright {
  font-size: .5em;
}